.bg {
  background-color: var(--color-white);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 120px;

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }

  &__header {
    &_type_one {
      margin-bottom: 124px;
    }

    &_type_two {
      margin-bottom: 32px;
    }
  }

  &_theme_lightblue {
    background-color: #F8FAFC;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D8D8D8;
    margin: 32px auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__params {
    margin-bottom: 24px !important;
  }
}

.main {
  &__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    box-shadow: 0px -2px 10px #F2F6F9;
    z-index: 2;
  }
}