.AppGuide{
  flex: 1;
  width: 100%;
  padding: 0 16px;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 40px;
  user-select: none;

  .Content{
    gap: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .Card{
      cursor: pointer;
      gap: 8px;
      width: 100%;
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      padding: 16px 24px;
      background-color: white;
      box-shadow: 0 4px 10px 0 rgba(234, 240, 246, 0.6);
      position: relative;

      &:not(.article){
        align-items: center;
      }

      .icon{
        width: 25px;
        height: 25px;
      }

      text{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: var(--color-text);
        flex-grow: 1;
      }

      &.article{
        text{
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: var(--color-text);
        }
      }

      .next{
        width: 20px;
        height: 20px;
        transition: .2s;
      }

      .read{
        display: flex;
        align-items: flex-end;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #977fff;
      }

      &:hover{
        .next{
          transition: .0s;
          transform: scale(1.05);
        }
      }

      &:active{
        .next{
          transition: .0s;
          transform: scale(.95);
        }
      }
    }

    .Article{
      gap: 24px;
      display: flex;
      flex-direction: column;

      p{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: var(--color-text);
        padding: 0 20px;
      }

      text{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: var(--color-text);
      }
    }
  }
}