.header {
  top: 0;
  padding: 10px 0;
  position: sticky;
  z-index: 100;
  background-color: var(--color-block-blur);
  backdrop-filter: blur(12px);

  &__back {
    position: absolute;
    //left: 16px;
    top: 10px;
  }

  &__title {
    padding: 5px 0;
    text-align: center;
  }

  &_is_fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color-block-blur);
    backdrop-filter: blur(12px);
    z-index: 4;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  }

  &__wrapper{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 25px;
      height: 25px;
    }
  }

  &.fix_size{
    height: 50px!important;
    margin: 0!important;
  }

  .container{
    @media (min-width: 767px){
      width: 768px;
      margin: 0 auto!important;
    }
  }
}