.AppLogs{
  flex: 1;
  width: 100%;
  padding: 0 16px;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 40px;
  user-select: none;

  .Content{
    width: 100%;
    display: flex;
    flex-direction: column;

    .Card{
      cursor: pointer;
      gap: 4px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 16px 0px;
      background-color: white;
      position: relative;

      &:not(.no_border){
        border-bottom: 0.50px solid #977fff;
      }

      .icon{
        width: 25px;
        height: 25px;
      }

      text{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: var(--color-text);
        flex-grow: 1;

        &.end{ text-align: end; }

        @media (max-width: 380px){ font-size: 20px; }
        @media (max-width: 340px){ font-size: 18px; }
        @media (max-width: 300px){ font-size: 16px; }
      }

      .next{
        width: 20px;
        height: 20px;
        transition: .2s;
      }

      &:hover{
        .next{
          transition: .0s;
          transform: scale(1.05);
        }
      }

      &:active{
        .next{
          transition: .0s;
          transform: scale(.95);
        }
      }
    }

    .HomeSession{
      margin: 10px 0 30px 0;
    }

    .Exercises{
      gap: 28px;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .Exercise{
        gap: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        border-radius: 8px;
        padding: 12px 16px;
        box-shadow: 0 5px 10px 0 rgba(234, 240, 246, 0.6);
        background: var(--color-block);

        .Meta{
          gap: 8px;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          position: relative;

          text{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: var(--color-text);
          }

          p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: var(--color-text-selected);
          }
        }

        img{
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}