.ModalContent{
  top: 0;
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
  background-color: #0000003c;
  backdrop-filter: blur(2px);
  position: fixed;
  opacity: 1;
  transition: .3s;
  overflow-y: auto;
  z-index: 500;

  &.app{
    height: calc(100dvh - 88px);
    min-height: calc(100dvh - 88px);
    background-color: var(--color-background);
    backdrop-filter: unset;
  }

  &.hide{
    top: 40px;
    opacity: 0;
    transition: .3s;
    z-index: -1000;
  }
}

.modal {
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  padding: 24px 16px 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &_type_full {
    min-height: calc(100dvh - 88px);
    padding-bottom: 10px;
  }

  &_flex_between {
    display: flex;
    justify-content: space-between;
  }

  &__video {
    width: 100%;
    // height: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 250px;
    max-height: 250px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__buttons {
    //position: fixed;
    left: 0;
    //bottom: 88px;
    width: 100%;
    background-color: var(--color-white);
    padding: 10px 16px;
  }

  &__button {
    width: 100%;
    padding: 9px 15px;
  }

  &__image {
    width: 100%;
  }

  .html-content {
    &>* {
      margin-bottom: 15px;
    }

    h3 {
      font-size: 28px;
      line-height: 1.14;
      color: var(--color-dark);
      font-weight: 600;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: var(--color-dark);
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.List{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &.center{
    align-items: center;
    justify-content: center;
  }
}

.ModalCloser{
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  position: absolute;
}