.session{
  display: flex;
  flex-direction: column;
  //min-height: 100vh;

  &_type_one{
    padding-top: 26px;

    .session__container{
      margin: 0;
    }
  }

  &_type_two{
    padding-top: 16px;
  }

  &__container{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
  }

  &__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__wrapper{
    padding-bottom: 175px;
    /*flex: 1;
    background-color: #F8FAFC;
    border-radius: 24px 24px 0px 0px;
    padding: 16px 16px 175px 16px;
    margin: 0 -16px;*/
  }

  &__group{
    left: 0;
    right: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 88px;
    z-index: 2;
    background-color: rgba(248, 250, 252, .75);
    padding: 16px;
    max-width: 768px;
    margin: 0 auto;
    backdrop-filter: blur(4px);
  }

  &__item{
    gap: 8px;
    background-color: var(--color-white);
    box-shadow: 0px 5px 10px rgba(234, 240, 246, 0.601465);
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;

    &-title{
      font-size: 20px;
      line-height: 1.5;
    }

    > text{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--text);
    }

    &-buttons{
      gap: 40px;
      display: flex;
      justify-content: space-between;
      padding: 0 0 5px 0;
    }

    &-buttons-more{
      gap: 40px;
      display: flex;
      justify-content: space-between;
      overflow-x: auto;
      overflow-y: hidden;
      margin-top: -10px;
      padding: 15px 15px 20px 15px;
      margin: -15px;
    }

    &-other_buttons{
      gap: 15px;
      display: flex;
      align-items: center;
    }

    &-button{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: fit-content;
      padding: 8px 24px;
      transition-property: width;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;

      &_type_one{
        
      }

      &_type_two{
        
      }

      &_is_done{
        width: 48px;
        opacity: 1!important;

        .session__item-check {
          display: block;
        }

        .session__item-text {
          display: none;
        }
      }

      &_circle{
        width: 48px;
        opacity: 1!important;

        .session__item-check {
          display: block;
        }

        .session__item-text {
          display: none;
        }
      }

      &_is_refresing{
        animation: spin 3s linear infinite;
        box-shadow: none!important;
      }
    }

    &-check{
      display: none;
      color: var(--color-white);
    }
  }

  &__refresh_panel{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 16px;

    .button{
      width: 60px;
      height: 60px;
      border-radius: 100%;

      svg{
        width: 30px;
        height: 30px;
      }
    }

    text{
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      background: linear-gradient(277deg, #9662f1 0%, #673ab7 99.97%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
    }
  }
}