.B2B_HomeCards{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (width <= $content-b2b-mobile-max-width){
    height: fit-content;
    padding: 60px 0;
  }

  > .Head{
    width: 100%;
    height: 152px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    user-select: none;

    .Content{
      gap: 24px;
      width: 100%;
      height: 72px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: white;

      .separator{
        width: 220px;
        height: 1px;
        background-color: gray;
      }

      img{
        width: 46px;
        height: 46px;
        animation: wobble 2s ease-in-out infinite;
      }

      text{
        color: var(--color-text);
        font-family: Lato Light;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
      }
    }
  }
  
  .Container{
    gap: 10px;
    width: 1020px;
    height: 504px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (width <= $content-b2b-mobile-max-width){
      width: 100%;
      height: fit-content;
      padding: 0;
    }

    .Content{
      gap: 20px;
      width: 1020px;
      display: flex;
      flex-direction: row;
      padding: 24px 0 80px 0;
      position: absolute;

      @media (width <= $content-b2b-mobile-max-width){
        width: 100%;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        padding: 0 30px;

        .B2B_Button{
          display: none;
        }
      }

      @media (width <= $content-b2b-mobile-middle-width){
        gap: 60px;
        width: 100%;
        align-items: center;
        flex-direction: column;
        padding: 0;
      }

      .Card{
        cursor: pointer;
        gap: 12px;
        width: 240px;
        display: flex;
        height: fit-content;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        user-select: none;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
        transition: .2s;

        @media (width <= $content-b2b-mobile-max-width){
          width: 320px;
          height: unset;
        }

        @media (width <= $content-b2b-mobile-middle-width){
          height: fit-content;
        }

        @media (width <= 320px){
          width: 100%!important;
        }

        &.active{
          width: 300px;
          transform: scale(1.2);
          z-index: 2;

          @media (width <= $content-b2b-mobile-max-width){
            width: 320px;
            transform: unset;
          }

          img{
            width: 100%;
            height: 330px;

            @media (width <= $content-b2b-mobile-max-width){
              height: 254px;
            }
          }
          
          .Body{
            margin-top: 28px;

            @media (width <= $content-b2b-mobile-max-width){
              gap: 12px;
              padding: 0 8px 20px 8px;
              margin-top: 0;
            }

            .Title{
              color: var(--color-primary);

              @media (width <= $content-b2b-mobile-max-width){
                font-size: 14px;
              }
            }

            text{
              max-height: 200px;
              margin-top: 32px;
              opacity: 1;
              transition: .4s;

              @media (width <= $content-b2b-mobile-max-width){
                margin-top: 0;
                font-size: 14px;
              }
            }
          }
        }

        img{
          width: 240px;
          height: 310px;
          min-height: 310px;
          object-fit: cover;
          overflow: hidden;

          @media (width <= $content-b2b-mobile-max-width){
            width: 320px;
            height: 270px;
          }
        }

        .Body{
          display: flex;
          flex-direction: column;
          transition: .2s;
          padding: 0 20px 20px 20px;
          
          .Title{
            color: var(--color-text);
            font-family: Lato Bold;
            font-size: 24px;
            text-align: center;
          }

          text{
            max-height: 0;
            transition: .2s;
            overflow: hidden;
            text-align: center;
            opacity: 0;

            span{
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}