.MainCards, .Advantages{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 60px;

  .Cards_Content{
    gap: 20px;
    width: 1180px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $content-mobile-card-max-width) {
      width: 100%;
      padding: 0 40px;
      //justify-content: center;
    }

    @media (max-width: 1230px) {
      justify-content: center;
    }

    @media (max-width: $content-mobile-min-width) {
      padding: 0 15px;
    }

    .Card{
      width: 370px;
      height: 370px;
      min-width: 360px;
      min-height: 360px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      //border: 1px solid red;
      border-radius: 40px;
      background-image: url(/engine/assets/img/index/card.png);
      padding: 35px;
      position: relative;

      @media (max-width: $content-mobile-min-width) {
        width: auto;
        height: auto;
        min-width: unset;
        min-height: unset;
        padding: 15px;
        width: 100%;
      }

      .CardHeader{
        gap: 20px;
        width: 100%;
        display: flex;
        margin-bottom: 45px;
        position: relative;
        align-items: center;

        .Card_IconWrapper{
          width: 80px;
          height: 80px;
          min-width: 80px;
          min-height: 80px;
          border-radius: 20px;
          background-color: var(--color-block);
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          .Card_Icon{
            width: 60px;
            height: 60px;
          }
        }

        .Card_Title{
          width: 200px;
          color: var(--color-text-title);
          font-family: ProximaNova Bold;
          font-size: 24px;
          line-height: 32px;
          position: relative;

          &.min{
            width: min-content;
          }
        }

        &::after{
          content: "";
          width: 100%;
          height: 2px;
          bottom: -25px;
          position: absolute;
          background-color: var(--color-primary);
        }
      }

      .CardText{
        color: var(--color-text);
        font-family: ProximaNova Regular;
        font-size: 20px;
        line-height: 32px;
        position: relative;
      }
    }
  }
}