$content-mobile-max-width: 900px;
$content-mobile-max-height: 700px;
$content-mobile-middle-width: 650px;
$content-mobile-middle-height: 500px;
$content-mobile-min-width: 450px;
$content-mobile-min-height: 320px;
$content-mobile-card-max-width: 1600px;
$content-mobile-card-min-width: 1500px;

$content-b2b-mobile-max-width: 1050px;
$content-b2b-mobile-middle-width: 750px;
$content-b2b-mobile-min-width: 350px;