@import "./ContentSize.scss";

$radius: 8px;
$img-radius: 0.6vh;
$block-radius: 6px;
$input-radius: 6px;
$button-radius: 6px;
$checkbox-radius: 4px;
$color-blur: 12px;

$block-blur: 10px;
$header-blur: 10px;

$context-block-radius: 12px;
$context-btn-radius: 10px;
$context-block-blur: 12px;

$image-avatar-radius: 6px;

$content-max-width: 1730px;