:root {
  --default-font: 'Poppins', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;

  --gradient-theme: linear-gradient(90deg, #7850BF 0%, #512DA8 97.94%);
  --color-white: #fff;
  --color-dark: #0A0615;

  --color-gray: #404B52;
  --color-light-gray: #F1F4F8;
  --color-text-gray: #9299A3;

  --color-purple: #461B93;
  --color-error-bg: #FFDBDB;
  --color-error-text: #F5634A;
}