@keyframes slide_text_left{
  0% { transform: translateX(-30px); opacity: 0; };
  10% { opacity: 0; };
  100% { transform: translateX(0); opacity: 1; };
}

@keyframes slide_text_right{
  0% { transform: translateX(30px); opacity: 0; };
  10% { opacity: 0; };
  100% { transform: translateX(0); opacity: 1; };
}

@keyframes slide_text_top{
  0% { transform: translateY(-50px); opacity: 0; };
  10% { opacity: 0; };
  100% { transform: translateY(0); opacity: 1; };
}

@keyframes slide_text_bottom{
  0% { transform: translateY(50px); opacity: 0; };
  10% { opacity: 0; };
  100% { transform: translateY(0); opacity: 1; };
}

@keyframes wobble{
  from { transform: rotate(0deg); }
  15% { transform: rotate(-5deg); }
  30% { transform: rotate(5deg); }
  45% { transform: rotate(-4deg); }
  60% { transform: rotate(4deg); }
  75% { transform: rotate(-3deg); }
  90% { transform: rotate(3deg); }
  to { transform: rotate(0deg); }
}

@keyframes rotating{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse2 {
  0% { transform: scale(.5); opacity: 0 }
  70% { opacity: 1 }
  to { transform: scale(1); opacity: 0 }
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}