footer{
  width: 100%;
  height: 725px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--color-footer);

  @media (max-width: $content-mobile-max-width) {
    height: auto;
    padding-bottom: 40px;
  }

  .Footer_Content{
    width: 1210px;
    display: flex;
    position: relative;

    .Footer_Logo{
      top: 0;
      left: -30px;
      width: 700px;
      position: absolute;

      @media (max-width: $content-mobile-middle-width) {
        left: -3vw;
        width: 80%;
      }
    }

    .Footer_Wrapper{
      gap: 80px;
      top: 290px;
      left: 20px;
      display: flex;
      flex-direction: column;
      position: absolute;

      @media (max-width: $content-mobile-max-width) {
        gap: 40px;
        top: 0;
        margin-top: 290px;
        position: relative;
      }

      @media (max-width: $content-mobile-middle-width) {
        margin-top: 29vw;
      }

      .Footer_Socials, .Footer_Location{
        gap: 40px;
        display: flex;

        @media (max-width: $content-mobile-max-width) {
          gap: 20px;
          flex-wrap: wrap;
          padding-right: 30px;
        }

        .Footer_Social{
          cursor: pointer;
          width: 80px;
          height: 80px;
          min-width: 80px;
          min-height: 80px;
          transition: .2s;

          &:hover{
            transition: 0s;
            transform: scale(1.02);
          }

          &:active{
            transition: 0s;
            transform: scale(0.98);
          }

          @media (max-width: $content-mobile-middle-width) {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
          }
        }

        .FooterInfo{
          gap: 2px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .FooterInfo_Text{
            color: white;
            font-family: ProximaNova SemiBold;
            font-size: 32px;
            line-height: 40px;

            @media (max-width: $content-mobile-middle-width) {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }

      .Footer_Socials .FooterInfo{
        margin-left: 60px;

        &.nogap{
          margin: 0;
        }

        @media (max-width: $content-mobile-max-width) {
          margin: 0;
        }
      }
    }
  }
}