.B2B_Request{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $content-b2b-mobile-middle-width){
    padding: 80px;
  }

  .Panel{
    gap: 40px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 60px;
    position: relative;

    @media (max-width: $content-b2b-mobile-middle-width){
      gap: 20px;
      width: 100%;
      height: fit-content;
      padding: 40px 20px;
    }
    
    background: linear-gradient(47.46deg, #E2EBF4 12.01%, #F8FBFF 88.93%);
    border-radius: 20px;

    img{
      width: 342px;
      height: 84px;
      margin: 0 auto;

      @media (max-width: $content-b2b-mobile-middle-width){
        width: 164px;
        height: 40px;
      }
    }

    .Form{
      gap: 16px;
      display: flex;
      flex-direction: column;
      position: relative;

      p{
        color: var(--color-text);
        font-family: Lato Light;
        font-size: 12px;
        line-height: 1.2;
        white-space: nowrap;
        text-align: center;
      }

      input{
        border-radius: 8px;
        background-color: white;
        padding: 12px 16px;
        transition: .2s;
        border: 0;
        outline: 0;

        font-family: Lato Light;
        font-size: 20px;
        line-height: 24px;
        white-space: nowrap;

        &:hover{
          transition: 0s;
          background-color: #faf9f9;
        }
      }
    }

    .B2B_Button{
      margin: 0 auto;
    }
  }
}