@import "./b2b/Header.scss";
@import "./b2b/Text.scss";
@import "./b2b/Footer.scss";
@import "./b2b/Modal.scss";
@import "./b2b/Buttons.scss";

/* Home */
@import "./b2b/home/Top.scss";
@import "./b2b/home/Trust.scss";
@import "./b2b/home/Featurest.scss";
@import "./b2b/home/What.scss";
@import "./b2b/home/Meaningful.scss";
@import "./b2b/home/Cards.scss";
@import "./b2b/home/Faq.scss";