.GetApp{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  user-select: none;

  .Content{
    max-width: 500px;
    height: fit-content;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-block);
    border: 1px solid var(--color-input-border);
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
  
    @media (max-width: 430px) or (max-height: 580px){
      border: 0;
    }
  
    @media (max-width: 500px){
      margin: unset;
      width: 100%;
    }
  
    .Top{
      width: 100%;
      position: relative;
      
      .Image{
        width: 100%;
        aspect-ratio: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/engine/assets/img/get/app.png');
      }
    }
  
    .Bottom{
      gap: 5px;
      display: flex;
      flex-direction: column;
      padding: 30px;
  
      @media (max-width: 375px){
        padding: 15px;
      }
  
      .Title{
        width: 100%;
        color: var(--color-text-title);
        font-family: ProximaNova Bold;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 10px;
  
        @media (max-width: 320px){
          font-size: 18px;
          line-height: 30px;
        }
      }
      
      .Text{
        gap: 5px;
        width: 100%;
        font-weight: 500;
        display: flex;
        text-align: center;
        color: var(--color-text-subtitle);
        flex-direction: row;
        padding: 15px 0;
        justify-content: space-between;
      }
    }
  
    .Button{
      margin-top: 5px;
      text-align: center;
  
      cursor: pointer;
      font-family: ProximaNova SemiBold;
      font-size: 16px;
      line-height: 1.2;
      outline: none;
      transition: .2s;
      border-style: unset;
      color: #fff;
      height: 40px;
      margin: 0;
      background-color: var(--color-button-primary);
      border-radius: 6px;
      padding: 8px 12px;
      width: 100%;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
  
      &:hover{
        background-color: var(--color-button-primary-hover);
      }
    }
  }
}