#ploading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10002;
  background-color: var(--color-background);
}

#ploading.service {
  left: 46px;
  z-index: 100;
  @media (max-width: $content-mobile-card-max-width){
    top: unset;
    bottom: 50px;
	}
}

.text-dark {
  color: var(--color-primary )!important;
}

@-webkit-keyframes spinner-border {
  /*!rtl:ignore*/
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes spinner-border {
  /*!rtl:ignore*/
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid;
  border-right: 0.25em solid transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
  animation: spinner-grow 0.75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
  .spinner-grow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
}


.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/*
 * Logo Loading
 */
.service_loading {
  width: fit-content;
  height: fit-content;
}
.service_loading .wrapper {
  gap: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service_loading .wrapper .logotype {
  width: 54px;
  height: 54px;
  margin: 10px auto;
}
.service_loading .wrapper .logotype.anim_grow{
  -webkit-animation: logo-grow 2s linear infinite;
  animation: logo-grow 2s linear infinite;
}
.service_loading .wrapper .status {
  color: var(--color-primary);
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}
.service_loading .wrapper .spinner.spinner5 {
  width: 64px;
  height: 8px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: var(--color-block);
}
.service_loading .wrapper .spinner.spinner5::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  left: -130%;
  width: 100%;
  height: 100%;
  background: var(--color-block);
  -webkit-animation: progress 2s linear infinite;
          animation: progress 2s linear infinite;
}

@-webkit-keyframes progress {
  0% { left: -130%; background: var(--color-primary); }
  50% { left: 130%; background: var(--color-primary); }
  51% { background: var(--color-primary); }
  100% { background: var(--color-primary); }
}
@keyframes progress {
  0% { left: -130%; background: var(--color-primary); }
  50% { left: 130%; background: var(--color-primary); }
  51% { background: var(--color-primary); }
  100% { background: var(--color-primary); }
}

@keyframes logo-grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/*
 * Cube Loading
 */
/*#ploading ul {
  gap: 5px;
  padding: 0;
  width: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
  -webkit-animation: rot 16s linear infinite;
          animation: rot 16s linear infinite;
}

#ploading ul li {
  width: 20px;
  height: 20px;
  background: #07f;
  border-radius: 4px;
  box-shadow: 0 0 1px #fff, 0 0 5px #07f, 0 0 10px #07f, 0 0 15px #07f, 0 0 25px #07f, 0 0 55px #07f;
  -webkit-animation: scale 0.8s linear alternate infinite;
          animation: scale 0.8s linear alternate infinite;
}
@-webkit-keyframes scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
@keyframes scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
li:nth-child(1) {
  z-index: 24;
}
li:nth-child(2) {
  z-index: 23;
}
li:nth-child(3) {
  z-index: 22;
}
li:nth-child(4) {
  z-index: 21;
}
li:nth-child(5) {
  z-index: 20;
}
li:nth-child(6) {
  z-index: 19;
}
li:nth-child(7) {
  z-index: 18;
}
li:nth-child(8) {
  z-index: 17;
}
li:nth-child(9) {
  z-index: 16;
}
li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
li:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
li:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
li:nth-child(9) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
li:nth-child(6) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
li:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
li:nth-child(12) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}*/