@import "./main/App.scss";
@import "./main/Cards.scss";
@import "./main/Inform.scss";
@import "./main/Guide.scss";
@import "./main/PrimaryBlock.scss";
@import "./main/Reviews.scss";
@import "./main/TopInfo.scss";