@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

::selection {
	background-color: var(--color-input);
}

::-moz-selection {
	background-color: var(--color-input);
}
	

a {
	color: var(--color-text);
	text-decoration: none;
	border-bottom: 1px solid var(--color-block-border);
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	margin-right: 10px;
}

a:last-child { margin-right: 0px; }

a:hover {
	text-shadow: 0px 0px 1px #ffffff80;
	border-bottom: 1px solid var(--color-block-border);
}

#noscript-warning {
	width: 100%;
	text-align: center;
	background-color: var(--color-input);
	font-weight: 300;
	color: var(--color-text);
	padding-top: 10px;
	padding-bottom: 10px;
}

/* === WRAP === */

.NotFoundPage_container{
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: var(--color-upload-background);
}

#wrap {
	width: 90%;
  max-width: 1730px;
	margin: 0 auto;
	height: auto;
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
  padding: 20px 0;
  z-index: 2;
}

#ncontent {
	margin-top: 8%;
}


/* === MAIN TEXT CONTENT === */

#main-content {
  max-width: 710px;
	color: var(--color-text);
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 40px;
	line-height: 28px;
  text-align: start;
}

#main-content h1 {
	margin: 0px;
	font-weight: 400;
	font-size: 42px;
	margin-bottom: 20px;
	line-height: normal;
  color: var(--color-primary);

  opacity: 0;
  transform: translateX(-50);
  animation: slide_text_left .6s forwards;
}

#main-content p {
	margin-bottom: 20px;

  opacity: 0;
  transform: translateY(-50);
  animation: slide_text_top .6s .3s forwards;
}


/* === NAVIGATION BUTTONS === */

#navigation { margin-top: 2%; margin-bottom: 5vh; }

#navigation a.navigation {
  cursor: pointer;
	display: block;
	float: left;
	background-color: var(--color-button);
	padding-left: 15px;
	padding-right: 15px;
	color: var(--color-text);
	height: 41px;
	line-height: 41px;
	text-decoration: none;
	font-size: 16px;
	transition: all 0.4s ease;
	margin-right: 2%;
	margin-bottom: 2%;
	border-bottom: none;
  
  opacity: 0;
  transform: translateY(50);
  animation: slide_text_bottom .6s .6s forwards;
}

#navigation a.navigation i { line-height: 41px; }
#navigation a.navigation { border-radius: $input-radius; }

#navigation a.navigation:hover {
  transition: .2s;
	background-color: var(--color-button-hover);
	border-bottom: none;
}


a.navigation {
	display: block;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	height: 41px;
	line-height: 41px;
	text-decoration: none;
	font-size: 16px;
	transition: all 0.5s ease;
	border-bottom: none;
	font-weight: 500;
	border-radius: 0 $input-radius $input-radius 0;
}
a.navigation i { line-height: 41px; }

/* === WORDSEARCH === */

#wordsearch {
	width: 45%;
	float: left;
}

#wordsearch ul {
	margin: 0px;
	padding: 0px;
}

#wordsearch ul li {
	float: left;
	width: 12%;
	background-color: var(--color-input);
	list-style: none;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
    padding: 0;
    display: block;
    text-align: center;
    color: var(--color-text);
    text-transform: uppercase;
    overflow: hidden;
    font-size: 24px;
    font-size: 18px;
    font-weight: 300;
    transition: background-color 0.75s ease;
    -moz-transition: background-color 0.75s ease;
    -webkit-transition: background-color 0.75s ease;
    -o-transition: background-color 0.75s ease;
}

#wordsearch ul li.selected {
	background-color: var(--color-primary);
	color: var(--color-text-sphover )!important;
	font-weight: 400;
}

/* === SEARCH FORM === */

#search { margin-top: 30px; }

#search input[type='text'] {
	width: calc(100% - 73px);
	height: 41px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: var(--color-input);
	border: none;
	outline: none;
	-webkit-appearance: none;
	font-size: 16px;
	font-weight: 300;
	color: var(--color-text);
	font-family: 'Source Sans Pro', sans-serif;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	border-radius: 0px;
	border-radius: $input-radius 0 0 $input-radius;
}

#search .input-search {
	width: 10%;
	float: right;
	height: 41px;
	background-color: var(--color-input);
	outline: none;
	border: none;
	-webkit-appearance: none;
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--color-text);
	font-weight: 300;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	text-align: center;
}

#search .input-search:hover {
	background-color: var(--color-primary);
}



/* === RESPONSIVE CSS === */

@media all and (max-width: 899px) {
	#wrap { width: 90%; }
}

@media all and (max-width: 799px) {
	#wrap { width: 90%; height: auto; padding: 15px 0 15px 0; width: calc(100% - 30px); }
	#wordsearch { width: 90%; float: none; margin:0 auto; }
	#wordsearch ul li { font-size: 4vw; }
	#main-content { float: none; width: 90%; max-width: 90%; margin:0 auto; margin-top: 15px; text-align: justify; }
	#main-content h1 { text-align: left; }
	#search .input-search { width: 15%; }
}

@media all and (max-width: 499px) {
	#main-content h1 { font-size: 28px; }
}