.checkbox-row{
  display: flex;

  @media (max-width: $content-mobile-max-width), (max-height: $content-mobile-max-height) {
    align-items: center;
    height: 30px;
  }

  &.error .checkbox-label{
    color: var(--color-error);
  }
  
  .checkbox-label {
    color: var(--color-text-selected);
    font-size: 13px;
    font-weight: 400;
    display: flex;
    gap: 10px;
    align-items: baseline;
  }
}

.checkbox-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: $checkbox-radius;
  background: var(--color-switcher);
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  margin-right: 7px;
  transition-duration: 300ms;

  &::after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: $checkbox-radius;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: bootstrap-icons !important;
    font-size: 18px;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.checkbox-on {
    background: var(--color-switcher);
    box-shadow: inset 0 0 10px 0 var(--color-switcher);
  
    &::after {
      content: "\f26e";
      background: var(--color-primary);
    }
  
    &.error::after{
      animation: blink .5s linear infinite;
      background: var(--color-error);
    }
    &.checkbox-off::after {
      color: var(--color-text)!important;
      background: var(--color-switcher-disabled);
    }
    &.checkbox-bad::after {
      background: var(--color-error);
    }
  }
}