.SwitchButton{
  display: flex;
  padding: 5px 0;
  align-items: center;

  .SwitchButton_Wrap{
    display: flex;
    align-items: center;
  }

  .SwitchButton_Label{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    padding-right: 5px;
    color: var(--color-text);
    user-select: none;
  }
}

.switch-btn{
  display: inline-block;
  width: 40px;
  height: 18px;
  border-radius: 12px;
  background: var(--color-switcher);
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  transition-duration: 300ms;

  &.big{
    width: 50px;
    height: 24px;
    
    i{
      font-size: 15px;
    }

    .circle{
      top: -3px;
      height: 30px;
      width: 30px;
    }

    &.switch-on{
      .circle{ left: 22px; }
    }
  }

  i{
    color: white;
    font-size: 12px;
  }

  .circle{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background: var(--color-primary);
    top: -1px;
    left: 0px;
    transition-duration: 300ms;
    box-shadow: 0 0 10px 0 var(--color-switcher);
    position: absolute;
    z-index: 1;
  }

  &.switch-on{
    background: var(--color-switcher);
    box-shadow: inset 0 0 10px 0 var(--color-switcher);
    
    .circle{
      left: 20px;
      background: var(--color-secondary);

      i{
        color: black;
      }
    }
    &.error .circle{
      animation: blink .5s linear infinite;
      background: var(--color-error);
    }
    &.switch-off .circle{ background: var(--color-text-selected); }
    &.switch-bad .circle{ background: var(--color-error); }
  }
}