.swiper-slide .bottom-right {
  padding: 2vh 4vh 2vh 4vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
}
.swiper-slide .bottom-center {
  padding: 2vh 4vh 2vh 4vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.swiper-slide .bottom-left {
  padding: 2vh 4vh 2vh 4vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.swiper-slide .center-left {
  padding: 2vh 4vh 2vh 4vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}
.swiper-slide .center {
  padding: 2vh 4vh 2vh 4vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-slide .center-right {
  padding: 2vh 4vh 2vh 4vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
}

.swiper-slide .top-right {
  padding: 2vh 4vh 2vh 4vh;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.swiper-slide .top-center {
  padding: 2vh 4vh 2vh 4vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper-slide .top-left {
  height: 100%;
  padding: 2vh 4vh 2vh 4vh;
}

.swiper-slide .slider {
  width: $content-size-def;
  margin: 0 auto;

  @media (max-width: 425px) { width: $content-size-mobile; }
  @media (min-width: 425px) and (max-width: 1024px) { width: $content-size-tablet; }
  @media (min-width: 1024px) and (max-width: 1920px) { width: $content-size-desktop-hd; }
  @media (min-width: 1920px) and (max-width: 2048px) { width: $content-size-desktop-fhd; }
  @media (min-width: 2048px) and (max-width: 2560px) { width: $content-size-desktop-qwxga; }
  @media (min-width: 2048px) and (max-height: 1080px) { width: $content-size-desktop-2k; }
  @media (min-width: 2560px) and (max-width: 3200px) { width: $content-size-desktop-wqxga; }
  @media (min-width: 3200px) and (max-width: 4096px) { width: $content-size-desktop-wqsxga; }
  @media (min-width: 4096px) and (max-width: 5120px) { width: $content-size-desktop-qhd; }
  @media (min-width: 5120px) and (max-width: 7680px) { width: $content-size-desktop-whsxga; }
  @media (min-width: 7680px) { width: $content-size-desktop-shv; }
}

@media (max-width: 599px){
  .swiper-slide .top-left,
  .swiper-slide .top-right,
  .swiper-slide .bottom-left,
  .swiper-slide .bottom-right {     
    padding: 2vh 4vh 2vh 4vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}